# Carpetas de compilación y salidas binarias
**/bin/
**/obj/

# Archivos ejecutables y librerías dinámicas compiladas
*.exe
*.dll
*.pdb

# Archivos de caché de compilación de Razor/Core
*.json
*.cache

# Archivos temporales de herramientas de publicación o IDE
.vs/
.idea/
*.user
*.suo